* {
    padding: 0;
    margin: 0;

}
.main {
    background: -webkit-linear-gradient(#000, rgba(255, 0, 0, 0.399));
    background-position: center;
    background-size: auto;
    width: 100%;
    height: 200vh;
}
.navbar {
    width: 150px;
    height: 30px;
    padding-left: 10px;
    float: left;

}
.icon {
    width: 0;
    height: 0;
    float: left;
    padding-left: 10px;

}
.logo {
    width: 100px;
    height: 50px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    font-size: 35px;
    padding-left: 10px;
    margin-top: 20px;
    
}
.logo span {
font-size: 8px;
color: #fff;
position: absolute;
}
.menu {
    float: left;
    
}
.menu ul {
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu ul li {
    list-style: none;
    margin-left: 200px;
    margin-top: 32px;
    padding-left: 150px;
    width: 0px;

}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    transition: .4s ease-in-out;

}
.menu ul li a:hover{
    text-decoration: none;
    color: #ffa500;
}
.container {
    width: 350px;
    height: 400px;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: transparent;
    outline: 3px solid #fff;
    border-radius: 10px;
    border: #fff;
    top: 600px;
    left: 1000px;
    font-family: 'Times New Roman', Times, serif;

}
h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange;
    font-size: 40px;
    justify-content: center;
    align-items: text;
    padding-left: 120px;
    transform: translateY(50%);
    text-decoration: wavy;
    text-shadow: #fff;
    

}

.input-box {
    position: relative;
    margin: 15% 0;
    width: 300px;
    left: 10px;

}
.input-box :hover {
    border-color: aquamarine;
}
.input-box :focus {
    border-color: aqua;
}
.input-box input {
    background: transparent;
    outline: none;
    font-size: 20px;
    color: #fff;
    font-family: inherit;
    border: 2px solid #fff;
    width: 320px;
    height: 30px;
    position: relative;
    border-radius: 15px;
    top: 25px;
    left: -5px;
    
    
}
.input-box label {
    position: absolute;
    color: #fff;
    font-size: 20px;
    cursor: text;
    
}
button {
    height: 30px;
    width: 60%;
    background: orange;
    border: none;
    font-size: 20px;
    font-family: inherit;
    position: absolute;
    color: #fff;
    border-radius: 20px;
    transform: translateX(30%);
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.register-link {
    font-family: inherit;
    font-size: 18px;
    color: white;
    position: absolute;
    transform: translateY(300%);
    left: 30px;
}

.register-link a {
    text-decoration: underline;
    color: orange;
    left: 10px;
    transition: .3s ease;

}
.register-link p a:hover {
    text-decoration: none;
    color: #fff;
}
.welcome {
    top: 80%;
    color: antiquewhite;
    position: absolute;
    left: 2%;
    font-size: 3cm;
}
.welcome span {
    position: absolute;
    left: 0%;
    font-size: 1cm;
    color: #ffa500;
    font-family: Cambria;
    padding-top: 50px;
    top: 42%;

}
.texts {
    color: #fff;
    width: 700px;
    height: 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    text-align: justify;

}
.bg {
    background: #000;
}
.image-box {
    position: absolute;
    padding: 2rem;
    width: 20%;
    height: 20%;
    transform: translate(30%, 20%);


}
.slider-wrapper {
    position: relative;
    max-width: 120rem;
    margin: top -40px;

}
.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    
    
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover(200px 90px);
}
.slider-nav {
    display: flex;
    column-gap: spacing 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    

}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    column-gap: spacing 4rem;
    transition: opacity ease 250ms;
    
}
.slider-nav :hover {
    opacity: 1;
}
.new-texts {
    color:#ffa500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
    font-size: 1cm;
    background: whitesmoke;


}
.about {
    margin: 10px;
    font-family: inherit;
    font-size: 20px;
    text-align: justify;
    color: black
}
.img {
    display: flex;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

}
.img img {
    position: absolute;
    width: 25%;
    height: 50%;
    transform: translate(20%, 20%);
}
